openapi: 3.1.0
info:
  title: LogicSRC Reference API
  version: 0.1.0
  description: REST API draft for LogicSRC open standards reference implementations.
servers:
  - url: https://logicsrc.com
paths:
  /api/boards:
    get:
      summary: List boards
      responses:
        "200":
          description: Boards returned
  /api/tasks:
    get:
      summary: List tasks
      responses:
        "200":
          description: Tasks returned
    post:
      summary: Create a LogicSRC task
      responses:
        "201":
          description: Task created
        "422":
          description: Schema validation failed
  /api/plugins:
    get:
      summary: List loaded plugins and capability index
      responses:
        "200":
          description: Plugins returned
  /api/credentials/providers:
    get:
      summary: List supported credential provider targets
      responses:
        "200":
          description: Credential providers returned
  /api/credentials/plans:
    post:
      summary: Create a redacted credential sync plan
      responses:
        "201":
          description: Credential sync plan created
  /api/accounts/providers:
    get:
      summary: List social and email account providers
      responses:
        "200":
          description: Account providers returned
  /api/accounts:
    get:
      summary: List connected social and email accounts
      responses:
        "200":
          description: Connected accounts returned
  /api/social/providers:
    get:
      summary: List social account providers
      responses:
        "200":
          description: Social account providers returned
  /api/email/providers:
    get:
      summary: List email account providers
      responses:
        "200":
          description: Email account providers returned
  /api/schemas:
    get:
      summary: List supported LogicSRC schema kinds
      responses:
        "200":
          description: Schema kinds returned
